<div>
    <table style="margin:0 auto;max-width:600px;padding-bottom:2%;background-color:#f1f1f1" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td></td>
                <td style="max-width:600px;display:block;clear:both;margin:0 auto;background-color:#f1f1f1;border-top:5px solid #ccc" width="94%">
                    <table style="width:100%;background:#fff" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="background-color:#fff;font-family:arial;font-size:20px;color:#5d5d5d;text-align:center;border-bottom:1px solid #ccc;line-height:20px;padding:20px">
                                    Booking CRM<br>
                                    <span style="font-size:14px">A House Booking Platform From India's Largest Real Estate Portal</span>
                                    <!-- {% block mailer_header %}{% endblock %} -->
                                </td>
                            </tr>
                            <tr>
                                <td height="30" style="background-color:#fff">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="background-color:#fff;font-family:arial;font-size:12px;color:#5d5d5d;line-height:20px;padding:0 20px;text-align:left" align="left">
                                    {% block mailer_content %}{% endblock %}
                                </td>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                
                            <tr>
                                <td style="background-color:#fff;font-family:arial;font-size:12px;color:#5d5d5d;line-height:20px;padding:0 20px;text-align:left" align="left">If you need any further assitance, feel free to email us at  <a rel="nofollow" href="mailto:online-booking@commonfloor.com" target="_blank">online-booking@commonfloor.com</a>
                                <br>    <br>
                                
                                Thanks,
                                <br>
                                Team Booking CRM Commonfloor
                                
                                </td>
                            </tr>
                            <tr>
                            <td height="30" style="background-color:#fff">&nbsp;</td>
                            </tr>
                            
                            
                            <tr style="width:100%;border-left:1px solid #fff;border-right:1px solid #fff;border-bottom:1px solid #fff;width:99.8%;float:left;background-color:#efefef">
                                <td align="left" style="background-color:#efefef;font-size:10px;font-family:arial;line-height:12px;color:#363636;padding:10px 20px">
                                    This email is sent to <a rel="nofollow">{{user_email}}</a>, becuase you're a part of Commonfloor BookingCRM Platform.
                                    <br>
                                    Disclaimer: Commonfloor offers a Private and Password Protected space.
                                    Your data is stored safely in our secure datacenters and would not be shared with any third party.
                                </td>
                            </tr>
            
                        </tbody>
                    </table>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>

</div>