{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<link href="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/static/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

<script src="{% static "js/jquery-ui.min.js" %}"></script>

<script type="text/javascript">

	function validateCreateForm(argument) {
		var formElements=argument.elements;
		if(typeof formElements.tower_name =="undefined" || formElements.tower_name.value ==null || formElements.tower_name.value  =="" || formElements.tower_name.value =="0"){
			alert("Please provide Tower Name");
			return false;	
		};

		if(typeof formElements.tower_floors =="undefined" || formElements.tower_floors.value ==null || formElements.tower_floors.value  =="" || formElements.tower_floors.value =="0"){
			alert("Please provide Tower floors");
			return false;	
		}
		else if(!isInt(formElements.tower_floors.value))
		{
			alert("Please provide Numeric value in floors");
			return false;
		};
		return true;

	}

	function isInt(value) {
	  return !isNaN(value) && (function(x) { return (x | 0) === x; })(parseFloat(value))
	}

</script>

<div class="row">
    <div class="col-lg-12" >
        <h3 class="page-header">Add A Tower</h3>
    </div>
</div>

{% include 'messages.html' %}
<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12" align="center">
        <div class="table-responsive">
            <div class="form-group">
            	<form role="form" id="AddTowerForm" method='POST' action='' class="form-horizontal">
					{% csrf_token %}
	            	<fieldset>
	            		<div class="col-sm-6" style="position:relative;">
							<input type="text" name="tower_name" placeholder="Tower Name" class="form-control input-md" />	
						</div>

						<div class="col-sm-6" style="position:relative;">
							<input type="text" name="tower_floors" placeholder="No of floors" class="form-control input-md" />	
						</div>
	            		

						<div class="col-md-4 col-md-offset-4 txtalcent">
							<br /><br />
							<button type="submit" onclick="return validateCreateForm(this.form)" name="booking_engine_tower_create" class="btn btn-primary">Add Tower</button>
						</div>
					</fieldset>
				</form>
			</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <!-- <h3 class="page-header">Buyer's List</h3> -->
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    Already Added Towers
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-towers">
                            <thead>
                                <tr>
                                    <th>Tower Name</th>
                                    <th>No of floors</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for tower in towers %}
                                <tr>
                                    <td>{{ tower.tower_name }}</td>
                                    <td>{{ tower.no_of_floors }}</td>
                                    <td class="actionDeleteCol">
                                    	<form role="form" action='' method="POST">
								            {% csrf_token %}
								            <div class="form-group input-group">
											    <input class="btn btn-md btn-link btn-block" type="submit" name="booking_engine_tower_delete" value="Delete" />
			                                	<input type="hidden" name="booking_engine_tower_id" value="{{ tower.tower_id }}" />
								            </div>
								        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<script src="/static/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#dataTables-towers').DataTable({
            responsive: true
    });
});
</script>

{% endblock %}